name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install dependencies
      run: |
        poetry install --no-root # Instala dependencias del poetry.lock

    - name: Run tests
      run: |
        poetry run pytest tests/test_basic.py

    - name: Build package
      run: |
        poetry build # Usa el build de poetry
   